/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    min-height: fit-content;
    border-radius: 1.5625rem;
    background-image: url("../assets/hero-section-logo.gif");
    background-repeat: no-repeat;
    background-position: bottom 0 right -1rem;
    background-size: 53rem;
    max-width: 1440px;
    margin: 0 auto;

}

.hero-content {
    text-align: left;
    z-index: 2;
    margin-top: 1rem;

    padding: 10rem 1rem 10rem 7rem;
    width: 800px;

}

/*.hero-content {*/
/*    margin-right: 0;*/
/*    padding: 10vw 0vw 17vw 8vw;*/
/*    margin-top: 1rem;*/
/*    width: 600px;*/

/*}*/

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;

}

.hero-content h1 {
    font-size: 4rem;
    color: white;
    font-weight: 700;
    text-align: left;

}

.hero-content h1 span {
    color: #81d8ff;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 500;
    margin: 2rem 0;
    color: white;
    text-align: left;

}

/* Hero Button */
.hero-button {
    background-color: #EEF3FF;
    color: #022C87;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.hero-button:hover {
    background-color: #011D5F;
    color: #FFFFFF;
}


@media (max-width: 1340px) {

    /*.hero{*/
    /*    background-size: 70rem;*/
    /*}*/

    /*.hero-content{*/
    /*    padding: 9vw 0px 11vw 6vw;*/
    /*}*/

}

/*@media (max-width: 1263px) {*/

/*    .hero{*/
/*        background-size: 63rem;*/
/*    }*/

/*    .hero-content{*/
/*        padding: 8vw 0px 8vw 6vw;*/
/*    }*/

/*}*/

/*@media (max-width: 1209px) {*/

/*    .hero{*/
/*        background-size: 56rem;*/
/*    }*/

/*    .hero-content{*/
/*        padding: 6vw 0px 6vw 6vw;*/
/*    }*/

/*}*/

/*@media (max-width: 1162px) {*/

/*    .hero{*/
/*        background-size:54rem;*/
/*    }*/
/*}*/




@media (max-width: 1369px) {

    .hero{
        background-size:41rem;
    }
    .hero-content {
        padding: 9rem 1rem 8rem 7rem;
    }
}

@media (max-width: 1318px) {

    .hero{
        background-size:33rem;
    }

    .hero-content {
        text-align: left;
        z-index: 2;
        margin-top: 1rem;
        padding: 4rem 1rem 6rem 7rem;
        width: 800px;
    }

}

@media (max-width: 1166px) {

    .hero {
        background-size: 34rem;

    }

    .hero-content{
        width: 740px;
        padding: 7rem 0rem 9rem 7rem;
    }
}


@media (max-width: 1014px) {

    .hero {
        background-size: 29rem;
    }

    .hero-content{
        padding:  6rem 0 5rem 5rem;
        width: 550px;
    }

}

@media (max-width: 900px) {

    .hero {
        background-size: 40rem;
        background-repeat: no-repeat;
        flex-direction: column;
        margin-top: 3rem;
        text-align: center;
        padding: 3rem 0.2rem 30rem 0.2rem;
        border-radius: 0;
        background-image: url("../assets/hero-section-logo.gif");
        background-position: bottom;

    }

    .hero-content{
        padding: 0rem 0 1rem 1rem;
        width: 700px;
        margin-bottom: 6rem;
    }

}


/* Responsive Design */
@media (max-width: 767px) {

    .hero {
        background-size: 28rem;
        background-repeat: no-repeat;
        flex-direction: column;
        margin-top: 3rem;
        text-align: center;
        padding: 3rem 0.2rem 30rem 0.2rem;
        border-radius: 0;
        background-image: url("../assets/hero-section-logo.gif");
        background-position: bottom;

    }

    .hero-content {
        width: fit-content;
        text-align: center;
        z-index: 2;
        margin-right: 0;
        padding: 1rem;
        margin-top: 0;
        margin-bottom: -4rem;


    }


    .hero-content h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .hero-content p {
        font-size: 0.8rem;
        margin: 2rem 0;
        text-align: center;
    }

    .hero-button {
        padding: 8px 20px;
        font-size: 0.8rem;
        border-radius: 10px 10px 10px 10px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image {
        display: none;
    }

    .hero-button {
        padding: 0.8rem 0.8rem;
        font-size: 0.8rem;
    }

}
